<div class="conteiner__big-card">
  <div class="bi-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmfQ7On4H4w3ASu0301qL03053TEsW7JLlJJfL-tiKdw&s"
    alt=""
    height="200px"
    srcset=""
    >
  </div>
  <div class="bi-card__title">
    <h1><a href="https://angular.io/">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="bi-card__description">
    <p> <a href="https://creativecommons.org/licenses/by/4.0/">
      Código licenciado sob uma licença estilo MIT . Documentação licenciada sob CC BY 4.0 .
      <br>
      Versão 17.2.5-local+sha.e43b03f.
    </a>
    </p>
  </div>
</div>
