<div class="container__content">
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="">
  </div>
  <div class="content__title">
    <h1>Mais Notícias do Angular</h1>
  </div>
  <div class="content__description">
    <a [routerLink]="['']"> << Voltar </a>
    <h1> Scaling Angular apps</h1>
    <p>Angular works with apps of any size and Angular tools support apps as they grow.</p>

    <h1>How Angular helps you scale your app</h1>
    <p>These are some of Angular's features that support scaling your Angular app.</p>

    <h1>TypeScript support</h1>
    <p>Angular apps are written in TypeScript. TypeScript adds syntax to JavaScript to provide strong type checking. Your integrated development environment (IDE) can apply static type checking to help catch errors earlier and help you when refactoring later.</p>

    <p>TypeScript's strong type checking gives your app a solid foundation on which to grow with confidence.</p>

    <h1>Powerful command-line interface</h1>
    <p>The Angular CLI provides a powerful command-line interface to perform common Angular app development tasks. The Angular CLI implements the Angular style guide to support consistency across components. The ng generate command and Angular schematics keep your app's source code consistent and organized, while generating boilerplate code to help you start your app.</p>

    <h1>Component libraries</h1>
    <p>The Angular team maintains the component development kit and material design components, which are used by thousands of apps inside of Google. Use at this scale results in stability across releases and integrations.

    The Angular community maintains dozens of others component libraries, which allows you to fit your app to your brand.</p>

    <h1>support for forms and routing</h1>
    <p>Angular includes support for forms and routes. These features prove themselves daily in thousands of apps inside of Google.</p>

    <p>Your app can also use these features with confidence.</p>
  </div>
</div>
