<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmfQ7On4H4w3ASu0301qL03053TEsW7JLlJJfL-tiKdw&s"
    cardTitle="Cardvisual de Angular"
    cardDescription="Lorwem ipson viado voisual demais pra muhler de masoiasLorwem ipson viado voisual demais pra muhler de masoiasLorwem ipson viado voisual demais pra muhler de masoiasLorwem ipson viado voisual demais pra muhler de masoias"
    >
    </app-big-card>
  </div>

  <div class="articles__others">

    <app-small-card
    linkSmall="https://angular.io/scaling"
    imagemSmall="https://angular.io/generated/images/marketing/home/any-size.svg"
    titleSmall="FUNCIONA EM QUALQUER ESCALA"
    spanSmall="Angular permite que você comece aos poucos e oferece suporte à medida que sua equipe e seus aplicativos crescem."
    >
  </app-small-card>

    <app-small-card
    linkSmall="https://angular.io/resources?category=community"
    imagemSmall="https://angular.io/generated/images/marketing/home/loved-by-millions.svg"
    titleSmall="Curadorias Comunitárias"
    spanSmall="Junte-se aos milhões de desenvolvedores que estão construindo com Angular em uma comunidade próspera e amigável."
    >
  </app-small-card>
    <app-small-card
    linkSmall="https://angular.io/everyone"
    imagemSmall="https://angular.io/generated/images/marketing/home/build-for-everyone.svg"
    titleSmall="CONSTRUA PARA TODOS"
    spanSmall="Aplicações angulares para todos Angular ajuda você a construir seu aplicativo para todos. Angular inclui estrutura nativa e extensões de ferramentas que oferecem suporte à acessibilidade. O suporte integrado à internacionalização do Angular ajuda você a alcançar usuários em diferentes idiomas."
    >
  </app-small-card>

  </div>

</div>
